<!-- views/contacts/show.ejs -->

<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="contact contact-show">
      <h2>상세주소록</h2>
      <div>
        <h3><%= contact.name%></h3>
        <label>이메일</label><span><%= contact.email %></span>
        <br>
        <label>전화번호</label><span><%= contact.phone %></span>
      </div>
      <div class="contact-menu">
        <a href="/contacts/<%= contact._id %>/edit">Edit</a> <!-- 1 -->
        <form action="/contacts/<%= contact._id %>?_method=delete" method="post"> <!-- 2 -->
          <a href="#" onclick="confirm('정말로 삭제하시겠습니까?')?this.parentElement.submit():null;">Delete</a>
        </form>
      </div>
    </div>
  </body>
</html>